{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h1 id="about">About This Site</h1>
	<p> This website is Brooke Fitzgerald's <a target="_blank" href="https://www.hampshire.edu/academics/division-iii">Divison III thesis project</a>. This website explores what neural data is and how neural data is analyzed, as well as facilitates an efficient, data-scientific approach to answering neuroscience inquiries. </p> </p>
	<p> For information about how this website was made and the how the technology it uses works, a writeup of said information is linked below.</p>
	<a target="_blank" href="https://drive.google.com/file/d/1k38NguvuNfznSNCK2tIUVa_RIVeQl5o9/view?usp=sharing">
		<img class="center" width="75%" src="{% static 'images/writeup.png' %}"> </img>
	</a>
</div>
{% endblock content %}