{% extends "base.html" %}

{% block content %}
<div class="container">
	<p> This website is Brooke Fitzgerald's Divison III thesis project. Brooke is a fourth year student at Hampshire College studying data science and applied mathematics. She is interested in the use of interactivity and modern web technology to facilitate scientific inquiry and exploration. </p>
	<p> She is also interested in machine learning and data analysis techniques to bring insight to hard problems across disciplines, as well as communicating technical information to a variety of disciplines. </p>
</div>
{% endblock content %}