{% extends "base.html" %}

{% load static %}
<script src="{% static 'js/project.js' %}"></script>
{% block content %}

<body>
	<div class="container" id="container">
		<div id='header'></div>
		<div id='graph'></div>
		<div id='sections'>
			<div id='section'>
				<h1>A visual introduction to neural data</h1>
				We've all wondered how the brain processes information. You may have asked yourself, 'How am I reading this text?'
				'How can I look at an everyday object like a kiwi and tell what it is?'

				Neuroscientists ask questions like this everyday, and then conduct experiments to figure out the answer.

				This website will explore how brain activity generates neural data and how we use neural data to figure out how the brain works. 

				Scroll to learn more.
			</div>
			<div id='section'>
				<h1>What exactly is brain activity?</h1>

				Scientists know more about the brain works than ever before, but there are still many unanswered questions.

				To answer these questions, neuroscientists measure brain activity.

				The brain is made up of a large number of specialized cells called neurons. Typical neurons consist of a soma (or cell body), dendritic branches (or dendrite) that receives signal from other cells, and an axon that conducts signal away from the cell body to other neurons or to muscles.
			</div>
			<div id='section'>
				When the sum of signals that reach the dendrite from other neurons and/or from elsewhere in the body is larger than some threshold, the dendrite "fires" - thus propagating the signal through the neuron’s long axon to reach other neurons.

				This propagation of signal is called an action potential, or spike, and is the basis of all neural communication. Dendrites were initially thought to only passively propagate information, but they’re now known to actively cause spikes themselves and can even back-propagate signal through the dendritic tree to reach neurons there.
			</div>
		</div>
		<div id='footer'></div>
	</div>
</body>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/graph-scroll.js' %}"></script>
<!--<script src="{% static 'js/api.js' %}"></script>-->
<script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}










