.alert-debug {
	background-color: #fff;
	border-color: #d6e9c6;
	color: #000; 
}

.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48; 
}

[hidden][style="display: block;"] {
	display: block !important; 
}

text{
	font-size: 40px;
	font-family:Consolas,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",sans-serif;
}

#sections > div{
	opacity: .3
} 

#sections div.graph-scroll-active{
	opacity: 1;
}
#container{
	position: relative;
}

#sections{
	width: 340px;
}

.section{
	padding-top: 50px;
	padding-bottom: 50px;
	opacity: .3;
	height: 720px;
}

.section#conclusion{
	height: 515px;
	margin-bottom: 100px;
}

#graph{
	width: calc(100% - 340px);
	height: 60vh;
	padding-left: 40px;
	position: sticky;
	top: 20vh;
	float: right;
}

#intro{
	padding-top: 100px;
}

#physical_machine{
	padding-top: 200px;
}

@media (max-width: 925px)  {
	#graph{
		padding-left: 0px;
		width: 100%;
		height: 340px;
		margin: 0px auto;
		top: 5vh;
	}

	#sections{
		position: relative;
		margin: 0px auto;
		padding-top: 250px;
	}

	.section{
		opacity: 0.1;
		padding-top: 10px;
		padding-bottom: 10px;
	} 
	#header{
		padding-top: 20px;
	}
	.section#conclusion{
		margin-bottom: 50px;
		height: 300px;
	}
}

