www.{$DOMAIN_NAME} {
	redir https://neuraldata.net
}

{$DOMAIN_NAME} {
	reverse_proxy django:5000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
		header_up X-Forwarded-Proto {scheme}
	}
	log {
		output stdout
	}
	encode gzip
}
